.product-card__img {
    max-width: 300px;
    height: 150px;
  }
  .product-card {
    text-align: center;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 100%;
    align-items: center;
  }
  .product-card__heart {
    width: 20px;
    height: 20px;
    background-color: yellow;
    transform: rotate(45deg);
    /* position: relative;
    left: 130px; */
    bottom: 20px;
  }
  .product-card__heart::before,
  .product-card__heart::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
  }
  .product-card__heart::before {
    top: -10px;
    left: 0;
  }
  .product-card__heart::after {
    top: 0;
    left: -10px;
  }
  .product-card__heart.clicked::before {
    background-color: red;
    
  }
  
  .product-card__heart.clicked::after {
    background-color: red;
  }
  .product-card__bottons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .product-card__bottons button{
    margin-left: 50px;
  }
  .svg-icon-heart {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  .product-card__cross {
    position: relative;
    width: 20px;
    height: 20px;
    transform: rotate(44deg);
    margin-left: auto;
  }
  
  .cross::before,
  .cross::after {
    content: "";
    position: absolute;
    background-color: black;
  }
  
  .cross::before {
    top: 50%;
    left: 10%;
    width: 80%;
    height: 2px;
    transform: translateY(-50%);
  }
  
  .cross::after {
    left: 50%;
    top: 10%;
    width: 2px;
    height: 80%;
    transform: translateX(-50%);
  }
  