.basket-wrapper {
  max-width: 1200px;
  display: flex;
  align-items: flex-start;
  margin: 30px auto;
  justify-content: center;
  gap: 20px;
}
.card-basket {
  display: flex;
  align-items: center;
  width: 500px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  padding: 15px;
}

.card-basket__cross {
  width: 2px;
  height: 25px;
  background-color: black;
  position: absolute;
  top: 10px;
  right: 30px;
  transform: rotate(140deg);
  cursor: pointer;
}
.card-basket__cross::after {
  content: "";
  width: 2px;
  height: 25px;
  background-color: black;
  position: absolute;
  transform: rotate(79deg);

  display: block;
}
