.Modal{
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    
}
.modalContent{
    background-color: rgb(248, 81, 14);
    margin: auto;
    padding: 10px;
    padding-bottom: 37px;
    border: 1px solid #888;
    width: 400px;
    color: white;
    
}
.modalBody div{
    padding-top: 20px;
    
 }
.modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.buttonClose{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.modalButtoms{
    display: flex; 
}
