header{
    padding: 20px 0 20px 0;
    
    background-color: blue;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}
header a {
    color: white;
    text-decoration: none;
}