.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal__content {
    background-color: rgb(248, 81, 14);
    margin: auto;
    padding: 10px;
    padding-bottom: 37px;
    border: 1px solid #888;
    width: 400px;
    color: white;
  }
  .modal__body div {
    padding-top: 20px;
  }
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .buttonClose {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .modal__btn {
    display: flex;
  }
  .modal__buttons{
    display: flex;
    justify-content: space-around;
  }