.card-img {
  width: 400px;
  height: 400px;
}
.product-card {
  border: 2px solid olive;
  text-align: center;
}
.heart {
  width: 20px;
  height: 20px;
  background-color: yellow;
  transform: rotate(45deg);
  position: relative;
  left: 90%;
  bottom: 20px;
}
.heart::before,
.heart::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
}
.heart::before {
  top: -10px;
  left: 0;
}
.heart::after {
  top: 0;
  left: -10px;
}
.heart.clicked::before {
  background-color: red;
}

.heart.clicked::after {
  background-color: red;
}
.container-botton {
  position: relative;
}
