.product-card__img {
  max-width: 250px;
  height: 150px;
}
.product-card {
  border: 2px solid black;
  text-align: center;
  max-width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.product-card__bottons{
  display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.product-card__bottons button{
  margin-left: 50px;
}
.product-card__heart {
  width: 20px;
  height: 20px;
  background-color: yellow;
  transform: rotate(45deg);
}
.product-card__heart::before,
.product-card__heart::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
}
.product-card__heart::before {
  top: -10px;
  left: 0;
}
.product-card__heart::after {
  top: 0;
  left: -10px;
}
.product-card__heart.clicked::before {
  background-color: red;
  
}

.product-card__heart.clicked::after {
  background-color: red;
}
.product-card__bottons {
  position: relative;
}

.product-card__cross {
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(44deg);
  margin-left: auto;
}

.product-card__cross::before,
.product-card__cross::after {
  content: "";
  position: absolute;
  background-color: black;
}

.product-card__cross::before {
  top: 50%;
  left: 10%;
  width: 80%;
  height: 2px;
  transform: translateY(-50%);
}

.cross::after {
  left: 50%;
  top: 10%;
  width: 2px;
  height: 80%;
  transform: translateX(-50%);
}
